footer {
    padding: 25px 0;
    text-align: center;
    color: rgb(255, 161, 85);
    background-color: #DB242F;
}

footer p {
    font-size: 20px;
    margin: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul li a {
    font-size: 20px;
    color: rgb(255, 161, 85);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
    text-decoration: none;
}

.contact {
    align-content: center !important;
}

.footer-text {
    margin: 30px;
}

.icon-size {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px;
}